@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --success-color: rgb(68, 133, 71);
  --error-color: rgb(184, 66, 66);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7eef7;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(77, 39, 75, 0.5);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
  /* border: 1px solid saddlebrown; */
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(127, 93, 170);
}

.form-control.success input {
  border-color: var(--success-color);
  background-color: rgb(68, 133, 71, 0.1);
}

.form-control.error input {
  border-color: var(--error-color);
  background-color: rgb(184, 66, 66, 0.1);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 12px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: rgb(127, 93, 170);
  border: 2px solid rgb(127, 93, 170);
  border-radius: 4px;
  padding: 10px;
  display: block;
  color: #fff;
  width: 100%;
  font-size: 16px;
  outline: 0;
}

.form button:hover {
  background-color: rgb(147, 111, 194);
  border: 2px solid rgb(147, 111, 194);
}
